@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: hsl(220, 20%, 97%);
    --secondary-color: hsl(41, 98%, 50%);
    --font-colors: hsl(216, 97%, 12%);
    --section-colors: hsl(220, 100%, 99%);
    --side-bar:hsl(216, 72%, 21%);

    --h1-font-size: 1.625rem;
    --h4-font-size: 1.25rem;
    --h3-font-size: 1.438rem;
    --h6-font-size: 0.938rem;
    --normal-font-size: .875rem;

    --padd-top-sec: 5rem;

    --margin-small: 0.5rem;
    --margin-medium: 1rem;
    --margin-large: 2rem;
    --margin-xlarge: 4rem;

    --padding-small: 0.5rem;
    --padding-medium: 1rem;
    --padding-large: 2rem;
    --padding-xlarge: 4rem;

    --box-shadow-small: 0 1px 3px rgba(0, 0, 0, 0.1);
    --box-shadow-medium: 0 4px 20px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-size: var(--normal-font-size);
    font-weight: 500;
    color: var(--font-colors);
    overflow-x: hidden;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: 700;
    color: var(--font-colors);
    
}
h4 {
    font-size: var(--h4-font-size);
    font-weight: 700;
    color: var(--font-colors);
}
h3{
    font-size: var(--h4-font-size);
    font-weight: 600;
    text-align: center;
    color: var(--font-colors);
}
h6{
    font-size: var(--h6-font-size);
    font-weight: 600;
    color: var(--font-colors);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 375px; 
    padding: 0 var(--margin-medium); 
    margin: 0 auto ; 
    overflow-x: hidden;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 3rem;
}
.padd-top{
    padding: var(--padd-top-sec) 0;
}
.padd-small{
    padding: var(--padding-small) 0;
}
.title-padd{
    padding: var(--padding-medium) 0 ;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: var(--normal-font-size);
    font-weight: 600;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    
}
.btn:hover {
    animation-name: button-push;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
  }
  @keyframes button-push {
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
.btn-yellow{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn-outline {
    border: 2px solid var(--secondary-color);
    color: var(--font-colors);
}



/* ===========header================== */


header{
    width: 100%;
    position:fixed;
    top: 0;
    z-index: 9999;
    background: var(--primary-color);
    box-shadow: var(--box-shadow-small);
    margin: 0;
    padding: 0;
}
.fixed-header{
    height: 4rem;
    width: 100%;
}
.logo-download{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding-left: var(--padding-small);
}

.nav-logo img{
    width: 5rem;
    max-width: 100%;
    
}
.button-down{
    display: flex;
    align-items: center;
}

.menu-icon{
    font-size: 16px;
    margin-right: var(--padding-medium);
    cursor: pointer;
}
.sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    display: flex;
    flex-direction: column;
    padding-left: var(--margin-medium);
    background-color: var(--font-colors);
    width:17.5rem ;
    height: 100vh;
    transition: all 0.4s ease;
    overflow-y:auto;
}
.sidebar.open{
    left: 0;
}
.nav-links{
    margin-top: var(--margin-large);
}
.nav-links li{
   display: flex;
   align-items: center;
   padding: 0.8rem 0.5rem;
   margin: 0.5rem 0.5rem 0.5rem 0;
   border-radius: 5px;
}
.portfolio-links{
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-bottom: var(--padding-medium);
}
.portfolio-links li {
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    margin-left: 1rem;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
    color: var(--primary-color);
    overflow: hidden;
    color: var(--primary-color);
    padding: var(--padding-medium) 0;
}
.portfolio-links li a{
    display: flex;
    align-items: center;
    color: var(--primary-color);
}
.portfolio-links li.active {
    width: 6.5rem;
}
.portfolio-links li span{
    display: none;
    transition: color 0.4s ease;
}
.portfolio-links li.active span{
    display: block;
}
.portfolio-links li.active span{
    margin-left: 0.5rem;
}

.nav-links li:hover{
    background-color: var(--side-bar);
   
}
.portfolio-links li .colored-icon{
    color: var(--primary-color);
}
.portfolio-links li:hover span{
    color: var(--secondary-color);
}

.colored-icon {
    font-size: 1rem;
    color: var(--primary-color);
    /* margin-right: 0.5rem; */
    transition: all 0.4s ease-in-out;
}
.nav-links ul li a{
    color: var(--primary-color);
}
.menu-color,
.nav-icon{
    color: var(--primary-color);
    font-size: 16px;
    margin-right: var(--padding-medium);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    transition: all 0.4s ease;
    cursor: pointer;
    overflow: hidden;
}
.sidebar.open .overlay{
    opacity: 1;
    pointer-events: auto;
}


/* ================ hero section================ */

#home{
    height: 100vh;
    background: var(--primary-color);
    
}
.hero-content{
    text-align: center;
    
}
/* .hero-img{
    position: relative;
} */
.hero-img img{
    width: 100%;
    
}

/* .buttons-prime{
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
 */
 
 .secondary-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--padding-medium);
    font-size: var(--normal-font-size);
    gap: var(--padding-large);
}
.secondary-buttons a{
    color: var(--font-colors);
    display: flex;
    align-items: center;
   white-space: nowrap;
}
.play-button{
    font-size: 1.5rem;
    margin-right: var(--margin-small);
}

.line{
    width: .2rem;
    height: 2rem;
    background:var(--font-colors);
}
/* .arrow-position{
    position: relative;
} */
/* .arrow-container {
    width: 12px;
    position: absolute;
    bottom:5rem;
    left: 50%;
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 20px;
    margin: 0 auto;
  }
  
  .arrow-down {
    height: 4px;
    background: var(--font-colors);
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;

  }
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: var(--font-colors);
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  } */

  /* =========================about me==================== */

/* .img-element{
    position: relative;
    z-index: 1;
}



.img-element::before{
    content: '';
    position: absolute;
    top: 0;
    left: 35%;
    width: 2rem;
    height: 2rem;
    background: url("images/elements.png") no-repeat center / cover;
    z-index: -1;
   
    
}

.latest.img-element::before {
    left: 20%;
}

.skill-title.img-element::before {
    left: 40%;
}
.education-element.img-element::before{
    left: 10%;
}
.service-element.img-element::before{
    left: 35%;
}
.contact-ele.img-element::before{
    left: 47%;
} */

.img-area img{
    max-width: 100%;
    
} 

.about-me {
    background: var(--primary-color) 

}
.about-title{
    text-align: center;
    max-width: 100%;
    margin:0 auto;
  
}
.about-text h3{
 text-align: left;
}
.about-text {
    padding: var(--padding-medium);
}
.details-groups li{
    display: flex;
    align-items: center;
    margin: var(--margin-medium) 0;
}
.details-groups b {
    margin-right: var(--margin-medium);
}
.available{
    color: var(--secondary-color);
}
.buttons{
    display: flex;
    align-items: center;
    
    column-gap: var(--padding-small);
}

/* ====================== skills ========== */
.skill-section{
    background: var(--section-colors);
}
.skill-bar {
    
    height: 12px;
    width: 100%;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.1);
}
.skills{
    margin: 1rem 0;
    width: 100%;
    max-width: 100%;
}
.skills img{
    height: 35px;
    width: 35px;

}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 100%;
    width: 80%;
    border-radius: 6px;
    background: var(--font-colors);
    color: var(--primary-color);
    animation: progress 0.7s ease-in-out forwards;
    opacity: 0;
}
.skill-per.illustrator {
    width: 80%;
    animation-delay: 0.1s;
}
.skill-per.indesign{
    width: 60%;
    animation-delay: 0.2s;
}
.skill-per.xd{
    width: 50%;
    animation-delay: 0.3s;
}
.skill-per.html{
    width: 60%;
    animation-delay: 0.4s;
}
.skill-per.css{
    width: 60%;
    animation-delay: 0.5s;
}
.skill-per.js{
    width: 55%;
    animation-delay: 0.6s;
}
@keyframes progress {
    0% {
        width: 0;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.skill-per .tooltip {
    position: absolute;
    font-size: 0.875rem;
    font-weight: 600;
    right: -24px;
    top: -40px;
    border-radius: .3rem;
    background-color: var(--secondary-color);
    padding: .3rem .5rem;
    z-index: 1;
}
.skill-per .tooltip::before {
    content: '';
    position: absolute;
    top: 1.5rem;
    left: 1rem;
    height: 1rem;
    width: 1rem;
    background: var(--secondary-color);
    z-index: -1;
    transform: rotate(45deg);
}
.grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: var(--margin-medium);
    row-gap: var(--margin-medium);
}
.grid-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: var(--margin-medium);
    gap: var(--margin-medium);

}

/* =================portfolio============== */

.portfolio-section{
    background: var(--primary-color);
}
.portfolio-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    
}
.portfolio-filter button{
    border: 1px solid var(--secondary-color);
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin: 0 var(--margin-small);
    font-size: 0.6rem;
    cursor: pointer;
    color: var(--font-colors);
    white-space: nowrap;
    transition: 0.3s;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
}
.portfolio-filter button:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.portfolio-filter-item.hide {
    display: none;
}
.portfolio-filter-item.show {
    display: block;
    animation: showItem 0.5s ease;
}
.portfolio-filter button.active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    /* position: relative; */
}

@keyframes showItem {
    0%{
      transform: scale(0.6);
      opacity: 0;
    }
    100% {
      transform:scale(1);
      opacity: 1;
    }
  }
  

.img-container {
    display: flex;
    align-items: center;
    position: relative;
}
.img-container img{
    width: 100%;
    
}
.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0 , 0, 0, 0.6);
    
    opacity: 0;
    transition: 0.3s;
}
.term {
    position: absolute;
    top: 0;
    left: 10px;
    color: #fff;
    background-color: var(--secondary-color);
    padding: 0.3rem 0.6rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.3s;
}

.img-container:hover .term{
    transform: translateY(0);
    opacity: 1;

}
.img-container:hover .mask{
    opacity: 1;
}

/* ==============education & experience============ */
.experiences {
    background: var(--primary-color);
}
.experience-education {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
}
/* .experience
{
    padding: 0 1.5rem;
    border-left: 2px solid var(--font-colors);
    position: relative;
} */
.experience .shade{
    text-transform: uppercase;
    color:var(--font-colors);
    padding-bottom: var(--padding-small);
    text-align: left;
    
}

.education .shade-2{
    text-transform: uppercase;
    color:var(--font-colors);
    padding: var(--padding-small) 0;
    text-align: left;
}

/* .education{
    padding: 0 1.5rem;
    border-right: 2px solid var(--font-colors);
} */
/* .ex-box{
    position: relative;
} */
.box{
    
    margin-bottom: var(--margin-large);
    padding: 1.5rem;
    border: 1px dashed var(--secondary-color);
    min-height: 13.5rem;
}
.box span{
    color: var(--secondary-color);
}
.box:last-child{
    margin-bottom: 0;
}
.box:hover{
    box-shadow: var(--box-shadow-medium);
}

/* .ex-box::before{
    content: '';
    position: absolute;
    top: -1.5rem;
    left: -17.5%;
    width: 3rem;
    height: 3rem;
    background: url("images/yellow-dot.png") no-repeat center;
    
}
.edu-box::after{
    content: '';
    position: absolute;
    top: -1.5rem;
    right: -17.5%;
    width: 3rem;
    height: 3rem;
    background: url("images/yellow-dot.png") no-repeat center;
    
} */

/* ===================typing animation ========== */
.typing{
    position: relative;
    overflow-x: hidden;
}

#text::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    border-left: 2px solid var(--font-colors);
    animation: animates 4s steps(12) infinite;
}
@keyframes animates {
    40%, 60% {
        left: calc(100% + 6px);
    }
    100% {
        left: 0%;
    }
} 
/* #text::before {
    animation: none;
}

/* ============== services =================== */

.services-section{
    background: var(--primary-color)
    
    
}
.services-box {
    text-align: center;
    padding: var(--padding-medium) var(--padding-small);
    transition: box-shadow 0.3s ease;
    border-radius: .5rem;
}
.services-box:hover{
    box-shadow: var(--box-shadow-medium);
}


/* ============== contact=================== */

.contact-section{
    background: var(--primary-color);
    
    overflow: hidden;
    
    
}
.contact-text{
    text-align: center;
}

.form-container{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    width: 100%;
    z-index: 15;
    
    
}

.wrapper{
    position: fixed;
    right: 10px;
    bottom: 0px;
    max-width: 350px;
    background:#fff;
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.68,-0.55, 0.265,1.55);
    pointer-events: none;
    
}
.form-container.show .wrapper {
    animation: slideUpAndSettle 0.4s ease forwards; 
    bottom: 90px; 
    opacity: 1;
    pointer-events: auto;
}
@keyframes slideUpAndSettle {
    0% {
        transform: translateY(100%);
        opacity: 0; 
    }
    70% {
        transform: translateY(-20px); 
        opacity: 1; 
    }
    100% {
        transform: translateY(0); 
    }
}

@keyframes slideDownAndHide {
    0% {
        transform: translateY(0); 
        opacity: 1; 
    }
    70% {
        transform: translateY(-40px); 
        opacity: 1;
    }
    100% {
        transform: translateY(100%); 
        opacity: 0; 
    }
}
 

 
 .wrapper .head-text {
    line-height: 60px;
    color:var(--primary-color);
    border-radius: 15px 15px 0 0;
    padding: 0 20px;
    font-weight: 500;
    font-size: 18px;
    background: -webkit-linear-gradient(left, #e65c00, #F9D423);
}
.wrapper .chat-box {
    padding: 20px;
    width: 100%;
}
.chat-box .desc-text {
    color: #515365;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.chat-box form{
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 25px;
    border: 1px solid lightgray;
}
.chat-box form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
}
form .field input,
form .field .sub-button,
form .textarea textarea{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border: 1px solid lightgray;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
   

}
form .field input:focus,
form .textarea textarea:focus{
    border-color: #e65c00;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
    color: silver;
    transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
 color: lightgray;
}
.chat-box form .textarea textarea {
    height: 70px;
    width: 100%;
}
.chat-box form .textarea textarea{
    height: 100%;
    border-radius: 50px;
    resize: none;
    padding:15px 20px;
    font-size: 16px;
}

.chat-box form .field .sub-button{
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    background: -webkit-linear-gradient(left, #e65c00, #F9D423); 
    color: var(--primary-color);
    transition: all 0.3s ease;
    cursor: pointer;
}
.chat-box form .field .sub-button:active{
    transform: scale(0.97);
}

.comment-box {
    position: fixed;
    bottom: 2rem;
    right: 1.5rem;
    font-size: 2.5rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, #e65c00, #F9D423);
   color: var(--primary-color);
   
}
.comment-box i{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;
    transition: display 0.4s ease;
}
.comment-box .close-icon{
    display: none;
}
.form-container.show .open-icon{
    display: none;
}
.form-container.show .close-icon{
    display: block;
}

